@import 'variables.scss';

.search-bar input {
  border-radius: 5px;
  border: 2px solid $primary-color;
  padding: 5px 2px 5px 10px;
  background-color: rgba(252, 251, 251, 1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  width: 50%;
  transition: all 0.3s ease;
}

.search-bar:focus input {
  outline: none;
}


label:not(:first-child) {
  margin: 0 10px 0 0;
}