@import 'variables.scss';

.tag {
    background-color: $primary-color;
    border-radius: 7.5px;
    color: #fff;
    padding: 0px 0px 0px 10px;
    transition: all 0.3s ease;
    margin: 5px;
    width: auto;
    display: block;
    display: flex;
  }
  
  .tag-include {
    background-color: #1abc9c;
  }
  
  .tag-exclude {
    background-color: $invalid-color;
    text-decoration: line-through;
  }

  .tag-add {
    background-color: #27ae60;
  }
  
  .tag img {
    width: 20px;
    height: 20px;
    color: #fff;
    margin: 0px;
  }
  
  .tag img:hover {
    cursor: pointer;
    background-color: #0000001e;
    border-radius: 100%;
  }
  
  #tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }
  

.tag-delete {
  animation: fadeOut 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}